@font-face {
    font-family: trajanpro;
    src: url(Trajan\ Pro.ttf);
  }

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    height: 98vh;
    font-family: "Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;

}

#wip{
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: center;
    color: rgb(121, 121, 121);
}

#hotell-btn-center{
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    height: 98vh;
    width: 99%;
}

#test-container{
    position: absolute;
    justify-content: center;
    align-self: center;
    width: 1000px;
    height: 600px;
}

#hotel-btn{
    position: absolute;
    background-color: #3e7600;
    height: 18px;
    width: 161px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #d1d1d1;
    border: 1px solid #999999;
    user-select: none;
    left: 0%;
    top: 0%;
}

#hotel-timer{
    font-size: 0.7em;
}

#hotell-info{
    position: absolute;
    top: 20%;
    color: white;
}
#timer{
    position: absolute;
    top: 10%;
    left: 6%;
    color: white;
}

#krims-container{
    display: flex;
    position: absolute;
    align-self: center;
    top: 0%;
    left: 23%;
    padding: 19px;
    width: 349px;
    height: 211px;
}


#krims-container {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(27, 27, 27);
}

#enkel-krim-tittel{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    margin: 0 0 10px;
    display: block;
    position: absolute;
    color: grey;
    
}
#enkel-krim1{
    position: absolute;
    background-color: rgb(48, 47, 44);
    width: 330px;
    height: 21px;
    padding: 8px;
    top: 22%;
    left: 5.3%;
    color: #a0a0a0;
}

#krim-hake{
    margin: 0px 8px 0px 0px
}

#krim-tekst{
    position: relative;
    bottom: 25%;
}

#krim-prosent{
    position: relative;
    bottom: 25%;
    margin: 0px 0px 0px 80px;
    
}

#enkel-krim2{
    position: absolute;
    width: 330px;
    height: 21px;
    padding: 8px;
    top: 40%;
    left: 7.2%;
    color: #a0a0a0;
}

#krim-tekst2{
    position: relative;
    bottom: 10%;
    margin: 0px 0px 0px 28px;
}

#krim-prosent2{
    position: relative;
    bottom: 25%;
    margin: 0px 0px 0px 168px;
    
}

#enkel-krim-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 9px;
    margin: 10px 0px 0px 3px;
    width: 345px;
    height: 30px;
    background-color: rgb(49, 49, 41);
    position: absolute;
    top: 60%;
    cursor: pointer;
}

#krims-container2 {
    display: flex;
    position: absolute;
    align-self: center;
    top: 47%;
    left: 23%;
    padding: 19px;
    width: 349px;
    height: 211px;
    margin: -15px 0px 0px 0px
}
#tung-krim-tittel{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    margin: 0 0 10px;
    display: block;
    position: absolute;
    color: grey;
    
}

#krims-container2 {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(27, 27, 27);
}

#tung-krim1{
    position: absolute;
    background-color: rgb(48, 47, 44);
    width: 330px;
    height: 21px;
    padding: 8px;
    top: 22%;
    left: 5.3%;
    color: #a0a0a0;
}

#krim-hake{
    margin: 0px 8px 0px 0px
}

#krim-tekst3{
    position: relative;
    bottom: 25%;
}

#krim-prosent3{
    position: relative;
    bottom: 25%;
    margin: 0px 0px 0px 105px;
    
}

#tung-krim2{
    position: absolute;
    width: 330px;
    height: 21px;
    padding: 8px;
    top: 40%;
    left: 7.2%;
    color: #a0a0a0;
}

#krim-tekst4{
    position: absolute;
    bottom: 30%;
    margin: 0px 40px 0px 28px;
}

#krim-prosent4{
    position: absolute;
    bottom: 25%;
    margin: 0px 0px 0px 271px;
    
}

#tung-krim-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 9px;
    margin: 10px 0px 0px 3px;
    width: 345px;
    height: 30px;
    background-color: rgb(49, 49, 41);
    position: absolute;
    top: 60%;
    cursor: pointer;
}


#stjel-container{
    display: flex;
    position: absolute;
    align-self: center;
    top: 0%;
    padding: 19px;
    width: 320px;
    height: 479px;
    left: 63.5%;
}


#stjel-container {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    font-size: 12px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgb(27, 27, 27);
}

#stjel-tittel{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    margin: 0 0 10px;
    display: block;
    position: absolute;
    color: grey;
    
}

#stjel-tittel2{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
    top: 10%;
    left: 7.5%;
    margin: 0 0 10px;
    display: block;
    position: absolute;
    color: grey;
}
#stjel{
    position: absolute;
    width: 330px;
    height: 21px;
    padding: 8px;
    top: 13%;
    left: 5.3%;
    color: #a0a0a0;
}

#krim-hake{
    margin: 0px 15px 0px 0px
}

#stjel-tekst{
    position: relative;
    bottom: 20%;
    top: -30%;
    left: -1%;
}

#stjel2{
    background-color: rgb(201, 201, 201);
    position: absolute;
    width: 200px;
    height: 21px;
    padding: 10px 0px 5px 8px;
    margin: 5px 0px 0px 0px;
    top: 20%;
    left: 16.5%;
    color: #a0a0a0;
}

#stjel3{
    position: absolute;
    width: 200px;
    height: 21px;
    padding: 10px 0px 5px 9px;
    top: 28%;
    left: 14%;
    color: #a0a0a0;
}

#stjel-tittel3{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
    top: 42%;
    left: 7.5%;
    margin: 0 0 10px;
    display: block;
    position: absolute;
    color: grey;
}

#stjel4{
    position: absolute;
    width: 200px;
    height: 21px;
    padding: 10px 0px 5px 9px;
    top: 46%;
    left: 15%;
    color: #a0a0a0;
}

#stjel5{
    position: absolute;
    width: 200px;
    height: 21px;
    padding: 10px 0px 5px 9px;
    top: 52%;
    left: 5.3%;
    color: #a0a0a0;
}

#stjel-tekst4{
    position: absolute;
}

#stjel6{
    position: absolute;
    width: 200px;
    height: 21px;
    padding: 10px 0px 5px 9px;
    top: 58%;
    left: 15%;
    color: #a0a0a0;
}

#stjel-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 50px 0px 0px 0px;
    font-size: 9px;
    width: 315px;
    height: 30px;
    background-color: rgb(49, 49, 41);
    position: absolute;
    top: 60%;
    cursor: pointer;
}

#krim-side{
    display: flex;
    position: absolute;
    align-self: center;
    color: white;
    top: 80%;
    left: 76%;
    font-size: 12px;
    z-index: 1;
}
